extends layout
	
block endscripts
	script(src="/javascripts/code.js")
	script
		| var sessions = !{JSON.stringify(sessions)};
		| populateFEList(sessions);

block content

	div#empty_result.hide
		center(style='margin-top: 40vh')
			i.material-icons error_outline
			| Nenhuma sessão encontrada :(

	div#loading_result
		center(style='margin-top: 40vh')
			div(style='margin-bottom: 10px')
				| Carregando Sessões...
			div.mdl-progress.mdl-js-progress.mdl-progress__indeterminate
		
	
	div#display_result.hide
		h4.padding-left Sessões de Usuários
		
		br
		table(style='width: 100%; border-top: 3px solid #090;')#result_table.mdl-data-table.mdl-js-data-table
			thead
				tr
					th.mdl-data-table__cell--non-numeric
						| Email
					th
						| Última Página Visitada
			tbody
	template
		tr.list.fake-link
			td.mdl-data-table__cell--non-numeric.email
			td.lastVisit