extends layout-index

block content
	div.mdl-card.mdl-shadow--6dp.mdl-layout--fixed-header
		header.mdl-layout__header.mdl-color--grey
			div.mdl-layout__header-row
				span.mdl-layout-title
					h2 Login App

		div.mdl-card_title
			h2(style='padding: 10px; padding-top: 20px').mdl-card__title-text Login

		div.mdl-card__supporting-text
			if loginError === '1'
				center.mdl-color-text--red Login ou Senha inválidos. 
			else if loginError === '2'
				center.mdl-color-text--red Sua sessão expirou ou você não está conectado. 

			form(action="/login", method="POST") 
				div.mdl-textfield.mdl-js-textfield
					input(type='text', id='login', name='username').mdl-textfield__input
					label(for='login').mdl-textfield__label Login
				div.mdl-textfield.mdl-js-textfield
					input(type='password', id='password', name='password').mdl-textfield__input
					label(for='password').mdl-textfield__label Password
				br
				br
				div.mdl-card__actions
					button.mdl-button.mdl-button--colored.mdl-button--raised.mdl-js-button.mdl-js-ripple-effect Entrar
				div.mdl-card__actions
					a(href="#") Esqueci minha senha
	br
	br
	hr
	center
		| Login: admin / Senha: qq1500
		
	script
		| setTimeout(function(){
		| 	document.getElementById('login').focus();
		| }, 500);