doctype html
html
	head
		title= title
		link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700", type="text/css")
		link(rel='stylesheet', href='//fonts.googleapis.com/icon?family=Material+Icons')
		link(rel='stylesheet', href='//code.getmdl.io/1.2.1/material.grey-indigo.min.css')
		link(rel='stylesheet', href='/stylesheets/index.css')
		script(src="https://code.getmdl.io/1.2.1/material.min.js")
		block pagescripts
	body.mdl-color--grey-100
		block topespecialplus
		div.mdl-layout.mdl-js-layout.layout-index
			main.mdl-layout__content
				block content
		block endpagescripts