doctype html
html
	head
		meta(charset="UTF-8")
		title= title
		link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700", type="text/css")
		link(rel='stylesheet', href='//fonts.googleapis.com/icon?family=Material+Icons')
		link(rel='stylesheet', href='//code.getmdl.io/1.3.0/material.grey-indigo.min.css')

		link(rel='stylesheet', href='/stylesheets/style.css')

		block pagescripts
	body 
		block topespecialplus

		div.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer
			div.mdl-layout__drawer

				header(style='padding-bottom: 22px').mdl-layout__header
					center.mdl-layout-title
						br

				ul.mdl-list
					li.mdl-list__item.mdl-list__item--two-line
						i.material-icons.mdl-list__item-avatar group
						span(style="margin-left: 10px; font-size: 14px").mdl-list__item-primary-content
							span #{user.name}
				hr

				nav.mdl-navigation
					a(href='/home').mdl-navigation__link
						i(role='presentation').material-icons dashboard
						| &nbsp;&nbsp;Sessões
						
					a(href='/logout').mdl-navigation__link
						i(role='presentation').material-icons power_settings_new
						| &nbsp;&nbsp;Sair
			main.mdl-layout__content.mdl-color--grey-100
				block content

		script(src="https://code.jquery.com/jquery-3.1.1.min.js", integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=", crossorigin="anonymous")
		script(src="https://code.getmdl.io/1.3.0/material.min.js")

		block endscripts