extends layout
	
block endscripts
	script(src="/javascripts/code.js")
	script
		| var session = !{JSON.stringify(session)};
		| populateFESession(session);

block content
	div.mdl-grid.content
		
		div.mdl-cell.mdl-cell--12-col
			h2.mdl-typography--headline Sessão do Usuário
		div.mdl-cell.mdl-cell--12-col
			h3.mdl-typography--title.session_email
	template
		div.item.mdl-cell.mdl-cell--12-col
			span.pageTitle
			| &nbsp;&nbsp;
			span.timestamp
		