body {
  padding: 0;
}
.layout-index.mdl-layout,
h2 {
  align-items: center;
  justify-content: center;
}
.layout-index .mdl-layout__content {
  padding: 24px;
}
.layout-index .mdl-layout__header {
  box-shadow: none !important;
  height: 150px;
}
.mdl-layout__header-row {
  height: 128px;
  padding: 0;
  margin: auto;
}
.mdl-layout__header-row img {
  height: 128px;
}
input {
  font-size: 22px !important;
}
.layout-index .mdl-card__actions {
  align-items: right !important;
  justify-content: right !important;
}
.hide {
  display: none;
}
