*:focus {
  outline: 0;
}
body {
  padding: 0;
}
a {
  color: #00b7ff;
}
.mdl-layout__header {
  background: #333;
  box-shadow: none;
}
.mdl-layout__drawer {
  box-shadow: none;
}
.hide {
  display: none;
}
.fake-link:hover {
  cursor: pointer;
}
.padding-left {
  padding-left: 25px;
}
.none {
  display: none;
}
